## Handling imbalance dataset

### 1. upsampling
### 2. downsampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# set the random seed for reproducibility
np.random.seed(123)

In [3]:
# create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9 # 90% data of class_0
n_class_0=int(n_samples*class_0_ratio)
n_class_1= n_samples-n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [5]:
# create dataframe with imbalance dataset
class_0=pd.DataFrame({"feature1": np.random.normal(loc=0, scale=1,size=n_class_0),
                     "feature2":np.random.normal(loc=0,scale=1,size=n_class_0),
                     "target":[0]*n_class_0})

class_1=pd.DataFrame({"feature1": np.random.normal(loc=2, scale=1,size=n_class_1),
                     "feature2":np.random.normal(loc=2,scale=1,size=n_class_1),
                     "target":[1]*n_class_1})

In [6]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [7]:
df

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[1000 rows x 3 columns]

In [8]:
df["target"].value_counts()

0    900
1    100
Name: target, dtype: int64

In [ ]:
# now we have a target to increase the no. of sample of target 1

# upsampling

In [ ]:
# upsampling
df_minority=df[df["target"]==1]
df_majority=df[df["target"]==0]

In [10]:
from sklearn.utils import resample

In [13]:
df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [14]:
df_minority_upsampled

     feature1  feature2  target
951  1.125854  1.843917       1
992  2.196570  1.397425       1
914  1.932170  2.998053       1
971  2.272825  3.034197       1
960  2.870056  1.550485       1
..        ...       ...     ...
952  1.188902  2.189189       1
965  3.919526  1.980541       1
976  2.810326  3.604614       1
942  3.621531  2.168229       1
974  1.160887  2.489203       1

[900 rows x 3 columns]

In [15]:
df_minority_upsampled.shape

(900, 3)

In [16]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [17]:
df_upsampled

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
952  1.188902  2.189189       1
965  3.919526  1.980541       1
976  2.810326  3.604614       1
942  3.621531  2.168229       1
974  1.160887  2.489203       1

[1800 rows x 3 columns]

In [19]:
df_upsampled["target"].value_counts()

0    900
1    900
Name: target, dtype: int64

# downsampling

In [20]:
np.random.seed(123)

In [21]:
# create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9 # 90% data of class_0
n_class_0=int(n_samples*class_0_ratio)
n_class_1= n_samples-n_class_0

In [22]:
# create dataframe with imbalance dataset
class_0=pd.DataFrame({"feature1": np.random.normal(loc=0, scale=1,size=n_class_0),
                     "feature2":np.random.normal(loc=0,scale=1,size=n_class_0),
                     "target":[0]*n_class_0})

class_1=pd.DataFrame({"feature1": np.random.normal(loc=2, scale=1,size=n_class_1),
                     "feature2":np.random.normal(loc=2,scale=1,size=n_class_1),
                     "target":[1]*n_class_1})

In [23]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [24]:
df

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[1000 rows x 3 columns]

In [25]:
df["target"].value_counts()

0    900
1    100
Name: target, dtype: int64

In [26]:
# downsampling
df_minority=df[df["target"]==1]
df_majority=df[df["target"]==0]

In [27]:
from sklearn.utils import resample

In [29]:
df_majority_downsampled=resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)

In [30]:
df_majority_downsampled.shape

(100, 3)

In [34]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [35]:
df_downsampled

     feature1  feature2  target
900  1.699768  2.139033       1
901  1.367739  2.025577       1
902  1.795683  1.803557       1
903  2.213696  3.312255       1
904  3.033878  3.187417       1
..        ...       ...     ...
398 -0.168426  0.553775       0
76  -0.403366  0.081491       0
196 -0.269293  0.611238       0
631 -0.295829  0.671673       0
751 -0.553404  0.804438       0

[200 rows x 3 columns]

In [36]:
df_downsampled["target"].value_counts()

1    100
0    100
Name: target, dtype: int64