In [3]:
def test():

SyntaxError: incomplete input (2690612609.py, line 2)

In [4]:
def test():
    pass

In [5]:
def test():
    print("Nitesh")

In [7]:
test()

Nitesh

In [10]:
test() + "Kumar" # concating not done with non type and str

Nitesh

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [11]:
def test1():
    return "Nitesh"

In [13]:
test1()

'Nitesh'

In [16]:
test1() + " kumar" # concating done with return function

'Nitesh kumar'

In [17]:
def test2():
    return 1,2,4, "Nitesh", 5.8

In [18]:
test2()

(1, 2, 4, 'Nitesh', 5.8)

In [19]:
a=1,3,5,7

In [20]:
a

(1, 3, 5, 7)

In [22]:
a,b,c,d= 2,4.6,"kumar",True

In [23]:
a

2

In [24]:
c

'kumar'

In [25]:
d

True

In [26]:
test2() # output always get in the form of Tuple

(1, 2, 4, 'Nitesh', 5.8)

In [29]:
test2()[3] # we can extract data

'Nitesh'

In [31]:
a,b,c,d,e= test2() # get result if test2 have same no. of elements. Means that if test2 have 4 elements then it give output error.

In [35]:
d

'Nitesh'

In [36]:
def test3():
    a=3*4+5
    return a

In [39]:
test3()

17

In [43]:
type(test3())

int

In [44]:
def test4(a,b):
    c=a+b
    return c

In [45]:
test4()

TypeError: test4() missing 2 required positional arguments: 'a' and 'b'

In [46]:
def test4(a,b):
    c=a+b
    return c

In [47]:
test4(2,3)

5

In [49]:
test4("nitesh"," kumar")

'nitesh kumar'

In [50]:
test4([1,2],[3,4])

[1, 2, 3, 4]

In [53]:
test4(a="kumar", b=" nitesh")

'kumar nitesh'

In [54]:
test4( b=" nitesh",a="kumar")

'kumar nitesh'

In [70]:
lst=[2,4,5.6,"nitesh", True,[2,1,4,6.2]]

In [ ]:
# create a function which will take list as a input and give final list have all numeric value

In [89]:
l=[2,4,5.6,"nitesh", "kumar",[2,1,4,6.2]]

def test7(a):
    n= []
    for i in a:
        if type(i)== int or type (i)== float:
            n.append(i)           
    return n

In [90]:
test7(l)

[2, 4, 5.6]

In [93]:
def test7(a):
    n= []
    for i in a:
        if type(i)== list:
            n.append(i)           
    return n

In [94]:
test7(l)

[[2, 1, 4, 6.2]]

In [91]:
def test8(a):
    n=[]
    for i in a:
        if type(i)== list:
            for j in i:
                if type(j)== int or type(j)== float:
                    n.append(j)
        else:
            if type(i)== int or type(i)== float:
                n.append(i)
    return n

In [92]:
test8(l)

[2, 4, 5.6, 2, 1, 4, 6.2]

#### Function part-2

In [95]:
def test9(a,b,c,d):
    pass

In [99]:
test9(1,2,3,4)

In [100]:
test9(1,2,3,4,5,6) # argument exceed

TypeError: test9() takes 4 positional arguments but 6 were given

In [101]:
def test(*args):     # In this method any number of argument we can entered # In the place of args we can enter any name like nitesh
    return args

In [102]:
test(1,2,"nitesh",(1,2,"kumar"))

(1, 2, 'nitesh', (1, 2, 'kumar'))

In [103]:
def test1(*args,a):
    return args,a

In [104]:
test1 (1,2,3,4)

TypeError: test1() missing 1 required keyword-only argument: 'a'

In [105]:
test1(1,2,3,4,a="kumar")

((1, 2, 3, 4), 'kumar')

In [112]:
def test2(*args):  # Here star is called Steric
    lst=[]
    for i in args:
        if type(i)== list :
            lst.append(i)
    return lst

In [115]:
test2(1,2,3,[4,5,6],(7,8,9),[3,4,5,8],"Nitesh")

[[4, 5, 6], [3, 4, 5, 8]]

In [6]:
def test3(**kwargs):
    return kwargs

In [7]:
test3(a=45,b=56,c=[1,2,3],d= (4,5,6))

{'a': 45, 'b': 56, 'c': [1, 2, 3], 'd': (4, 5, 6)}

In [13]:
def test4(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])== list:
            return i, kwargs[i]

In [14]:
test4(a=45,b=56,c=[1,2,3],d= (4,5,6))

('c', [1, 2, 3])

In [19]:
def test4(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])== tuple:
            return i, kwargs[i]

In [20]:
test4(a=45,b=56,c=[1,2,3],d= (4,5,6))

('d', (4, 5, 6))

In [ ]:
# args simply means it will take n no. of input and 
                                      #kwargs means that it take n no. of input with keword and respective values

In [27]:
def test5(*args, **kwargs):       # args simply means it will take n no. of input and 
                                      #kwargs means that it take n no. of input with keword and respective values
    return args, kwargs

In [28]:
test5(1,2,3,6, a=45, b=3)

((1, 2, 3, 6), {'a': 45, 'b': 3})

# Function generator

In [1]:
range(1,10) # Not give output untill used any function

range(1, 10)

In [2]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [4]:
lst=[2,3,"nitesh"]

In [7]:
def test1(a):
    n=[]
    for i in a:
        if type(i)== int:
            n.append(i)
    return n

In [8]:
test1(lst)

[2, 3]

#### fibonacci series

In [10]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a   # Yeild simply means give output one by one instead of occupying memory when it try to prepare list.
        a,b=b,a+b

In [11]:
test_fib(10)

In [15]:
for i in test_fib(10):
    print(i)   # Here is output not block whole memory. output we get one by one.

0
1
1
2
3
5
8
13
21
34