In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("IPL_Ball_by_Ball_2022.csv")

In [3]:
df

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17907,1304047,2,17,5,SS Iyer,DJ Bravo,SP Jackson,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17908,1304047,2,17,6,SP Jackson,DJ Bravo,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17909,1304047,2,18,1,SP Jackson,AF Milne,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17910,1304047,2,18,2,SS Iyer,AF Milne,SP Jackson,NaN,2,0,2,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17911,1304047,2,18,3,SS Iyer,AF Milne,SP Jackson,NaN,4,0,4,0,0,NaN,NaN,NaN,Kolkata Knight Riders

In [5]:
df.shape

(17912, 17)

In [6]:
df.size

304504

In [10]:
df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [9]:
df.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam'],
      dtype='object')

In [21]:
df["ID"].unique()

array([1312200, 1312199, 1312198, 1312197, 1304116, 1304115, 1304114,
       1304113, 1304112, 1304111, 1304110, 1304109, 1304108, 1304107,
       1304106, 1304105, 1304104, 1304103, 1304102, 1304101, 1304100,
       1304099, 1304098, 1304097, 1304096, 1304095, 1304094, 1304093,
       1304092, 1304091, 1304090, 1304089, 1304088, 1304087, 1304086,
       1304085, 1304084, 1304083, 1304082, 1304081, 1304080, 1304079,
       1304078, 1304077, 1304076, 1304075, 1304074, 1304073, 1304072,
       1304071, 1304070, 1304069, 1304068, 1304067, 1304066, 1304065,
       1304064, 1304063, 1304062, 1304061, 1304060, 1304059, 1304058,
       1304057, 1304056, 1304055, 1304054, 1304053, 1304052, 1304051,
       1304050, 1304049, 1304048, 1304047], dtype=int64)

In [22]:
match_1=df[df["ID"]==1312200]

In [23]:
match_1

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,1312200,2,17,3,DA Miller,R Ashwin,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
229,1312200,2,17,4,Shubman Gill,R Ashwin,DA Miller,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
230,1312200,2,17,5,Shubman Gill,R Ashwin,DA Miller,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
231,1312200,2,17,6,DA Miller,R Ashwin,Shubman Gill,NaN,2,0,2,0,0,NaN,NaN,NaN,Gujarat Titans
232,1312200,2,18,1,Shubman Gill,OC McCoy,DA Miller,NaN,6,0,6,0,0,NaN,NaN,NaN,Gujarat Titans

In [24]:
match_1.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [25]:
match_1.shape

(233, 17)

In [26]:
RR=match_1[match_1["innings"]==1]

In [28]:
RR.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [30]:
RR["batsman_run"].value_counts()

0    52
1    47
4    11
2     5
6     4
3     1
Name: batsman_run, dtype: int64

In [32]:
RR["kind"].value_counts()

caught               6
caught and bowled    1
run out              1
bowled               1
Name: kind, dtype: int64

In [33]:
GJ=match_1[match_1["innings"]==2]

In [34]:
GJ

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,1312200,2,17,3,DA Miller,R Ashwin,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
229,1312200,2,17,4,Shubman Gill,R Ashwin,DA Miller,NaN,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans
230,1312200,2,17,5,Shubman Gill,R Ashwin,DA Miller,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans
231,1312200,2,17,6,DA Miller,R Ashwin,Shubman Gill,NaN,2,0,2,0,0,NaN,NaN,NaN,Gujarat Titans
232,1312200,2,18,1,Shubman Gill,OC McCoy,DA Miller,NaN,6,0,6,0,0,NaN,NaN,NaN,Gujarat Titans

In [38]:
GJ["batsman_run"].value_counts()

0    51
1    36
2    12
4    10
6     4
Name: batsman_run, dtype: int64

In [39]:
GJ["kind"].value_counts()

caught    2
bowled    1
Name: kind, dtype: int64