# 16 Feb 2023 Assignment

### Date- 16.02.2023

# Q1. What is a database? Differentiate between SQL and NoSQL databases.

## Answer:-

A database is a systematic collection of data. They support electronic storage and manipulation of data. Databases make data management easy.

### Difference between SQL and NoSQL is following:-

1. Type – 

SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 

2. Language – 

SQL databases defines and manipulates data based structured query language (SQL). This language is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe choice especially for great complex queries. But from other side it can be restrictive. SQL requires us to use predefined schemas to determine the structure of your data before you work with it. Also all of our data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to our whole system. 

A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having defined structure first. Also each document can have its own unique structure. The syntax varies from database to database, and we can add fields as we go. 

3. Scalability – 

In almost all situations SQL databases are vertically scalable. This means that we can increase the load on a single server by increasing things like RAM, CPU or SSD.

But on the other hand NoSQL databases are horizontally scalable. This means that we handle more traffic by sharding, or adding more servers in our NoSQL database. It is similar to adding more floors to the same building versus adding more buildings to the neighborhood. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.

4. Structure – 

SQL databases are table-based and on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure. 

5. Property followed – 

SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 

6. Support – 

Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help us with SQL database for a very large scale deployments but for some NoSQL database we still have to rely on community support and only limited outside experts are available for setting up and deploying our large scale NoSQL deployments. 

Examples of SQL:   MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

Examples of NoSQL: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. 
These commands are used to change the structure of a database and database objects.

DDL commands can be used to add, remove, or modify tables with in a database. 

The DDL commands are:

1. CREATE
2. ALTER
3. DROP
4. TRUNCATE

#### 1. CREATE

This command is used to create table in the relational database . 
This can be done by specifying the names and datatypes of various columns.

In [ ]:
# For Example
CREATE TABLE 
Student
(Student_id INT, 
Name VARCHAR(100), 
Marks INT);

#### 2. ALTER

Alter command is used for altering the table in many forms like: 

1. Add a column
2. Rename existing column
3. Drop a column
4. Modify the size of the column or change datatype of the column

In [ ]:
# Add column
ALTER TABLE Student 
ADD
(Address  VARCHAR(200)); 

# Above code will add a new column “Address” in the table Student of datatype varchar(200);

In [ ]:
# rename existing column
ALTER TABLE 
Student 
RENAME 
Marks TO Age; 

# The command above will change the column_name from Marks to Age;

In [ ]:
# Drop a column
ALTER TABLE Employee 
DROP
(Age);  

# Here the column_name =”Age”, will be deleted by above command;

In [ ]:
# Modify the size of the column or change datatype of the column
ALTER TABLE 
student 
MODIFY
(name varchar(300)); 

# The above command will modify the column_name “Name” by changing the size of that column.

#### 3. DROP

This command completely removes the table from the database along with the destruction of the table structure.

In [ ]:
# for example-

DROP TABLE Student; # This command will remove the table records as well as destroys the schema too.

#### 4. TRUNCATE

This command removes all the records from a table. But this command will not destroy the table’s structure.

In [ ]:
# For example-
TRUNCATE TABLE Student; # This command will remove all the records from table student.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## Answer:-

Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, but a time comes when we actually want to execute some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation.

DML(Data Manipulation Language) is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

#### INSERT

This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.

In [ ]:
# for example
INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('4242', 'Nitesh Kumar', 'Muzaffarpur');

#### UPDATE

This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

In [ ]:
# for example
UPDATE students

SET stu_id = 4240

WHERE stu_name = 'Nitesh Kumar';

#### DELETE

It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

In [ ]:
# for example
DELETE FROM students

WHERE stu_id = '4240';

# Q4. What is DQL? Explain SELECT with an example.

## Answer:-

DQL is a component of SQL statement that allows getting data from the database and imposing order upon it.

### SELECT

This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

In [ ]:
# Example of select

If a user wants to retrieve all the data from the student table, the query will be given as follows:

In [ ]:
select *
from employee;  # asterisk mark (*) indicates that all the rows are retrieved from the table.

#### Advantages of DQL: 

1. SELECT is a standard command used for almost every query.

2. It can also be written as SELECT as SQL is a case-insensitive language.

3. It makes the data retrieving process easier.

4. No coding is needed.

5. This domain language can be used for communicating with the databases and receive answers to complex questions in seconds.

##### Disadvantages of DQL:

1. Data Query Language has no disadvantages.

2. It is not possible to imagine Structured Query Language without the select command.

3. Interfacing a DQL database is more complex than adding a few lines of code.

4. The operating cost of some DQL versions makes it difficult for some programmers to access them.

#### Applications of DQL: 

1. Analytical Queries.

2. Retrieve Information from the database.

3. Modify the index structures and database table.

# Q5. Explain Primary Key and Foreign Key.

## Answer:-

#### Primary Key and foreign key difference

1. A primary key is used to ensure data in the specific column is unique.	
   A foreign key is a column or group of columns in a relational database table that provides a link between      data in two tables.


2.	primary key uniquely identifies a record in the relational database table. foreign key refers to the field     in a table which is the primary key of another table.


3.	Only one primary key is allowed in a table.	Whereas more than one foreign key are allowed in a table.


4.	primary key is a combination of UNIQUE and Not Null constraints. Foreign key can contain duplicate           values and a table in a relational database.


5.	primary key does not allow NULL values.Foreign key can also contain NULL values.


6.	primary key value cannot be deleted from the parent table. Foreign key value can be deleted from the child     table.


7.	primary key constraint can be implicitly defined on the temporary tables. Foreign keyconstraint cannot be     defined on the local or global temporary tables.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

## Answer:-

In Python, We will use the Mysql connector modules to communicate with MySQL.

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.10/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Run the below query on the MySQL console
Create database PWskills;

In [ ]:
# below is the code to connect MySQL to python. please run the query in MySQL console
import mysql.connector
from mysql.connector import Error

try:
    mydb = mysql.connector.connect(host='localhost',
                                         database='PWskills',
                                         user='abc',
                                         password='password')
    if mydb.is_connected():
        db_Info = mydb.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        mycursor = mydb.cursor()
        mycursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if mydb.is_connected():
        mycursor.close()
        mydb.close()
        print("MySQL connection is closed")

#### cursor method

A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query.
We can create the cursor object through the mysql.

##### Create a cursor object:

In [ ]:
#python cursor_object.py

#import the library
import mysql.connector

# creating connection
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
#print the connection
print(mydb)
# import the cursor from the connection (mydb)

mycursor = mydb.cursor()
#print the mycursor
print(mycursor)

#### execute method

The execute () method helps us to execute the query and return records according to the query.

In [ ]:
# Example: use execute () method for query

In [ ]:
#python simple_execute_function.py

#import the library
import mysql.connector

# creating connection
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database ="PWskills"
)

# import the cursor from the connection (mydb)
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM COURSE")

# iterate over the result
for i in mycursor:
    print(i)

# we close the cursor and mydb both
mycursor.close()
mydb.close()

# Q7. Give the order of execution of SQL clauses in an SQL query.

## Answer:-

SQL query that is executed per the standard SQL order of execution. This order of clause and it's function is below:

1. FROM- Tables are joined to get the base data

2. WHERE- The base data is filtered

3. GROUP BY - The filtered base data is grouped

4. HAVING- The grouped base data is filtered

5. SELECT- The final data is returned

6. ORDER BY- The final data is sorted.

7. LIMIT- The returned data is limited to row count

### 1. FROM

The FROM clause is used to specify the table on which the query needs to do the operation.

### 2. WHERE

The WHERE clause filters certain records that meet the conditions mentioned in the query. It is evaluated second after the FROM clause.

In [ ]:
# SYNTAX
SELECT column1, column2, .....
FROM table_name
WHERE condition;

In [ ]:
# example
SELECT * FROM Customers
WHERE Country='India';

### 3. GROUP BY

After the data is filtered using the WHERE clause, we group the sorted data using the GROUP BY clause.

Group By clause is used to group the data.
Partition the set of tuples into groups based on certain criteria.
Groups are formed based on certain attributes.
Aggregate functions are calculated for each group.

In [ ]:
# SYNTAX
SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
ORDER BY column_name(s);

In [ ]:
# example
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;

### 4. HAVING

After the GROUP BY clause, if we are not getting the expected result. The HAVING clause is used when the WHERE clause cannot be used with the aggregate functions. It takes a certain condition that is applied in the GROUP BY clause.

In [ ]:
# SYNTAX
SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
HAVING condition
ORDER BY column_name(s);

In [ ]:
# example
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5
ORDER BY COUNT(CustomerID) DESC;

### 5. SELECT

The SELECT statement is used to select data from the database. To select complete data, we use the * operator.

In [ ]:
# SYNTAX
SELECT column1, column2, ...
FROM table_name;

In [ ]:
# example
SELECT * FROM table_name;

### 6. ORDER BY

ORDER BY clause is used to sort the data in ascending or descending order. We use the keyword ASC to sort the data in ascending order and the keyword DESC to sort the data in descending order.

In [ ]:
# SYNTAX
SELECT column1, column2, ...
FROM table_name
ORDER BY column1, column2, ... ASC|DESC;

In [ ]:
# example
SELECT * FROM Customers
ORDER BY Country DESC;

### 7. LIMIT

After the result is sorted, it might be the case that we want a limited number of rows in the result because the data is too large to analyze with perfection. We can do that by using the LIMIT and OFFSET clauses. For example,

After sorting our result using the ORDER BY clause, we got two rows. Suppose that we want only one row to be shown in the result.

Suppose we want the result after row 1 and to a certain limit that is 3 for now. So, to get the data after a certain amount, we set the offset value.

In [ ]:
# SYNTAX
SELECT column_name(s)
FROM table_name
WHERE condition
LIMIT number;

In [ ]:
# example
SELECT * FROM Customers
WHERE Country='India'
LIMIT 3;