# 17 Feb Assignment

#### Date:17.02.2023

# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

### Answer:-

#### MongoDB

MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows us to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.

#### non-relational database

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. 

For example-

Data may be stored as simple key/value pairs, as JSON documents, or as a graph consisting of edges and vertices.

#### Here are some scenarios in which MongoDB may be a better choice than SQL:
1. Handling Unstructured Data: 

If our application needs to store unstructured data, such as JSON documents or geospatial data, MongoDB is a good choice. MongoDB is a document-oriented database that allows for flexible data models, which makes it easy to store and query unstructured data.


2. Scalability:

If we need to build a highly scalable application, MongoDB can be a good choice. It supports horizontal scaling, which means we can add more servers to our cluster as our data grows. This makes it easy to scale our application as our business grows.


3. Rapid Development:

If we need to rapidly prototype and iterate your application, MongoDB can be a good choice. It allows for quick development cycles, as we can easily modify the schema of our documents without the need for complex migrations.


4. Cloud-native Applications: 

If we are building a cloud-native application, MongoDB can be a good choice. It has built-in support for cloud platforms such as AWS, Azure, and Google Cloud Platform, and can easily integrate with other cloud services.


5. Real-time Analytics: 

If we need to perform real-time analytics on our data, MongoDB can be a good choice. Its aggregation framework provides powerful data aggregation and processing capabilities, which can be useful for generating insights from our data in real-time.

On the other hand, SQL databases are a better choice when we need to ensure strict data consistency and want to enforce relationships between tables.

it's important to note that MongoDB may not be the best choice for every scenario. SQL databases are still the preferred choice for many applications that need to ensure data consistency and transactional integrity, and which have a well-defined and stable data model. Ultimately, the choice between MongoDB and SQL databases depends on the specific needs of your application and the characteristics of your data.

# Q2. State and Explain the features of MongoDB.

### Answer:-

MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows us to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.

#### Features of MongoDB are following: â€“

1. Schema-less Database: 

It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.


2. Document Oriented:

In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.


3. Indexing:

In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.


4. Scalability:


MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.


5. Replication: 


MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.


6. Aggregation:


It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods


7. High Performance: 

The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

#### Advantages of MongoDB :

1. It is a schema-less NoSQL database. You need not to design the schema of the database when you are working with MongoDB.
2. It does not support join operation.
3. It provides great flexibility to the fields in the documents.
4. It contains heterogeneous data.
5. It provides high performance, availability, scalability.
6. It supports Geospatial efficiently.
7. It is a document oriented database and the data is stored in BSON documents.
8. It also supports multiple document ACID transition(string from MongoDB 4.0).
9. It does not require any SQL injection.
10. It is easily integrated with Big Data Hadoop

####  Disadvantages of MongoDB :

1. It uses high memory for data storage.
2. You are not allowed to store more than 16MB data in the documents.
3. The nesting of data in BSON is also limited you are not allowed to nest data more than 100 levels.

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

### Answer:-

1. go to www.Mongodb.com
2. click try free and complete the process of signup
3. under the deploy database section click on MO free(for learning and exploring Mongodb in a cloud environment)
4. select provider"aws"
5. create user name and password

Now i have to connect Mongodb with python application. for this :
1. under the ip please entered 0.0.0.0/0
2. click on finish and close
3. after that cluster shows in green color means we create a system done. we can create multiple system too.
4. click on connect 
5. select connect your application option
6. choose driver "python" and version "3.6 or later"

Now we have get a connection string or url for connecting with python.

1. please copy that code and paste in jupytor notebook. in my case string is:

client = pymongo.MongoClient("mongodb+srv://Nitesh:Nitesh@cluster0.b8esw5p.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
pip install pymongo # pymongo itself not available in python library so we installed from pip
# we executed here second time so it is showing requirement already satisfied because it already installed.

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pymongo # after pymongo install, we will import pymongo
client = pymongo.MongoClient("mongodb+srv://Nitesh:Nitesh@cluster0.b8esw5p.mongodb.net/?retryWrites=true&w=majority")
# In url must checked username and password that we were created.
db = client.test

In [6]:
# Now I will call client
client

MongoClient(host=['ac-xe91irb-shard-00-02.b8esw5p.mongodb.net:27017', 'ac-xe91irb-shard-00-00.b8esw5p.mongodb.net:27017', 'ac-xe91irb-shard-00-01.b8esw5p.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-cjzqtr-shard-0', tls=True)

In [ ]:
# please sure to check connect=True, authsourse= admin.
# If this will show in client then we confirm now that Mongodb is now connect with the python now.

### connection done. Now we will create database and collection here

we know that the connection url is here to perform each and every thing like database creation and collection creation

In [7]:
client = pymongo.MongoClient("mongodb+srv://Nitesh:Nitesh@cluster0.b8esw5p.mongodb.net/?retryWrites=true&w=majority")

In [25]:
# create database
db= client["Nk"] # after execution database will still not show in Mongodb becuse we have not created collection yet.

In [26]:
# create collection
coll_create=db["My record"] # collection is equivalent of table.after execution database will still not show in Mongodb
                            # becuse we have not entered any data in collection yet.

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

### Answer:-

### insert one record

In [27]:
# now we will build some data for entry in collection
data={"name": "nitesh","class": "data science","timing":"static"}#In the case of Mongodb, data is called JSON OR document

In [28]:
# now we will insert data in collection
coll_create.insert_one(data) #after execution refresh the Mongodb site and now we clearly show database
                                # name collection name and entered data.

### insert many record

In [29]:
data1={"name":"rahul","class":"mba","stream":"HR"}
data2={"vehicle_type":"car","vehicle_class":"2 Axle","color":"white"}
data3={"fastag":"hdfc bank","fare":250,"journey":"single"}

In [31]:
coll_create.insert_many([data1,data2,data3])

### use find() method to print inserted item

In [32]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64218188331ae148f0324ddd'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421821a331ae148f0324dde'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('642186cb331ae148f0324ddf'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('64218702331ae148f0324de0'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421a3ed331ae148f0324de1'), 'name': 'rahul', 'class': 'mba', 'stream': 'HR'}
{'_id': ObjectId('6421a3ed331ae148f0324de2'), 'vehicle_type': 'car', 'vehicle_class': '2 Axle', 'color': 'white'}
{'_id': ObjectId('6421a3ed331ae148f0324de3'), 'fastag': 'hdfc bank', 'fare': 250, 'journey': 'single'}

In [33]:
coll_create.find_one()

{'_id': ObjectId('64218188331ae148f0324ddd'),
 'name': 'nitesh',
 'class': 'data science',
 'timing': 'static'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

### Answer:-

In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record.

In [ ]:
# syntax
db.collection.find(query, projection, options)
# in our case 
coll_create.find(query,projection,option)

### query

This is an optional parameter that defines the selection criteria. In simple words, it defines a query as what you want to find in a collection.

In [ ]:
# if we want all document in collection then we use empty in query.
# for example

In [35]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64218188331ae148f0324ddd'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421821a331ae148f0324dde'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('642186cb331ae148f0324ddf'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('64218702331ae148f0324de0'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421a3ed331ae148f0324de1'), 'name': 'rahul', 'class': 'mba', 'stream': 'HR'}
{'_id': ObjectId('6421a3ed331ae148f0324de2'), 'vehicle_type': 'car', 'vehicle_class': '2 Axle', 'color': 'white'}
{'_id': ObjectId('6421a3ed331ae148f0324de3'), 'fastag': 'hdfc bank', 'fare': 250, 'journey': 'single'}

In [37]:
# if we used any query then we get following result:
for i in coll_create.find({"name":"rahul"}):
    print(i)

{'_id': ObjectId('6421a3ed331ae148f0324de1'), 'name': 'rahul', 'class': 'mba', 'stream': 'HR'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

### Answer:-

In MongoDB, sort() method is used to sort the documents in the collection. This method accepts a document containing list of fields along with their sorting order.

The sorting order is specified as 1 or -1.

1 is used for ascending order sorting.
-1 is used for descending order sorting.

In [42]:
# Ascending order sorting
sorting_result=coll_create.find().sort("name",1)
for i in sorting_result:
    print(i)

{'_id': ObjectId('6421a3ed331ae148f0324de2'), 'vehicle_type': 'car', 'vehicle_class': '2 Axle', 'color': 'white'}
{'_id': ObjectId('6421a3ed331ae148f0324de3'), 'fastag': 'hdfc bank', 'fare': 250, 'journey': 'single'}
{'_id': ObjectId('64218188331ae148f0324ddd'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421821a331ae148f0324dde'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('642186cb331ae148f0324ddf'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('64218702331ae148f0324de0'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421a3ed331ae148f0324de1'), 'name': 'rahul', 'class': 'mba', 'stream': 'HR'}

In [43]:
# Descending order sorting
sorting_result=coll_create.find().sort("name",-1)
for i in sorting_result:
    print(i)

{'_id': ObjectId('6421a3ed331ae148f0324de1'), 'name': 'rahul', 'class': 'mba', 'stream': 'HR'}
{'_id': ObjectId('64218188331ae148f0324ddd'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421821a331ae148f0324dde'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('642186cb331ae148f0324ddf'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('64218702331ae148f0324de0'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421a3ed331ae148f0324de2'), 'vehicle_type': 'car', 'vehicle_class': '2 Axle', 'color': 'white'}
{'_id': ObjectId('6421a3ed331ae148f0324de3'), 'fastag': 'hdfc bank', 'fare': 250, 'journey': 'single'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

### Answer:-

### delete_one()

In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted.

In [46]:
query={"name":"nitesh"}
coll_create.delete_one(query)

In [47]:
for i in coll_create.find():
    print(i)
# In the output multiple document matching. Here is 4 document whre name was nitesh. so only first appeared document
# will be deleted here.

{'_id': ObjectId('6421821a331ae148f0324dde'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('642186cb331ae148f0324ddf'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('64218702331ae148f0324de0'), 'name': 'nitesh', 'class': 'data science', 'timing': 'static'}
{'_id': ObjectId('6421a3ed331ae148f0324de1'), 'name': 'rahul', 'class': 'mba', 'stream': 'HR'}
{'_id': ObjectId('6421a3ed331ae148f0324de2'), 'vehicle_type': 'car', 'vehicle_class': '2 Axle', 'color': 'white'}
{'_id': ObjectId('6421a3ed331ae148f0324de3'), 'fastag': 'hdfc bank', 'fare': 250, 'journey': 'single'}

### delete_many()

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

In [53]:
query1 = {"class":"data science"}
coll_create.delete_many(query1)

In [54]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6421a3ed331ae148f0324de1'), 'name': 'rahul', 'class': 'mba', 'stream': 'HR'}
{'_id': ObjectId('6421a3ed331ae148f0324de2'), 'vehicle_type': 'car', 'vehicle_class': '2 Axle', 'color': 'white'}
{'_id': ObjectId('6421a3ed331ae148f0324de3'), 'fastag': 'hdfc bank', 'fare': 250, 'journey': 'single'}

### drop()

The drop() method removes collections from the database. It also removes all indexes associated with the dropped collection. The drop method accepts an optional document. It returns true if the collection dropped successfully. It takes one parameter which is optional.

1. This method creates an invalidate Event for any change streams opened for dropped collection.

2. This method obtains an exclusive lock on the given collection for the duration of the operation. Till then all the   subsequent operations must wait for the drop() method to release the lock.

In [59]:
# drop entire collection
coll_create.drop()

# after execution collection removes from database

In [60]:
for i in coll_create.find():
    print(i)
# after execution no data show in collection.