# Assignment 2 feb-2023

# Q1. What are the characteristics of the tuples? Is tuple immutable?

# Answer-
## Characteristics of Tuples are as below:

### 1.Tuples are written with round brackets.

In [1]:
t=()

In [2]:
type(t)

tuple

### 2.Tuples are used to store multiple items in a single variable.

In [3]:
t=(1,2.3,"nitesh",(1,2,3),[4,5,6],{7,8,9},{"name":"nitesh"})

In [4]:
t

(1, 2.3, 'nitesh', (1, 2, 3), [4, 5, 6], {7, 8, 9}, {'name': 'nitesh'})

### 3. Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [11]:
t[0]

1

In [12]:
t[3]

(1, 2, 3)

### 4. Tuple is a collection which is ordered and immutable and allow duplicate value

In [19]:
t1=(1,4,2.3,4,True,"nitesh",(1,2,3),[4,5,6],{7,8,9},{"name":"nitesh"})
# Here tuple is a collection of int, float, string, tuple, list,set,dictionary

In [20]:
t1

(1,
 4,
 2.3,
 4,
 True,
 'nitesh',
 (1, 2, 3),
 [4, 5, 6],
 {7, 8, 9},
 {'name': 'nitesh'})

In [22]:
t1[5]

'nitesh'

##### Tuples are immutable

In [23]:
t1[5]="kumar"

TypeError: 'tuple' object does not support item assignment

# Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

## Answer:

#### There are two tuple method in python:-

#### 1. count()- Returns the number of times a specified value occurs in a tuple.
#### For Example-

In [25]:
t1

(1,
 4,
 2.3,
 4,
 True,
 'nitesh',
 (1, 2, 3),
 [4, 5, 6],
 {7, 8, 9},
 {'name': 'nitesh'})

In [18]:
t1.count(4)

2

#### 2. index()-Searches the tuple for a specified value and returns the position of where it was found

In [27]:
t1[6]

(1, 2, 3)

In [28]:
t1[3]

4

##### The reason behind tuples have only two in-built methods as compared to Lists because of its immutability(means it can not be changed)

# Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list. List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

#### The set collection datatype in python do not allow duplicate items.

In [9]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [10]:
List=list(set(List))

In [11]:
List

[1, 2, 3, 4]

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

##### 1. Union method- This method is used to return the union of a set and the set of elements from one or more iterable like string, list, set. This method takes arbitrary number of iterable objects as argument, which means one or more iterable can be passed. If iterable other than set is passed, it first converts the iterable object to set object and then perform the union operation. It returns a newly created set, which contains all the elements ( distinct ) present in all the iterables.

In [27]:
a= {1,2,3,4}

In [28]:
b={5,6,7,8}

In [36]:
c=[3,4,6,9]

In [30]:
d= a.union(b)

In [31]:
d

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
d=a.union(c)

In [38]:
d

{1, 2, 3, 4, 6, 9}

In [39]:
d=a.union(b,c)

In [40]:
d

{1, 2, 3, 4, 5, 6, 7, 8, 9}

##### 2. update method-  It is very similar to union() method, with difference is that where union() method create and return a new set, containing all the elements ( distinct ) present in all the iterables, update() method updates the set on which this method is called with all the distinct elements present in all the iterables.

In [41]:
a= {1,2,3,4}

In [42]:
b={5,6,7,8,9}

In [43]:
a.update(b)

In [44]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
b

{5, 6, 7, 8, 9}

In [46]:
b.update(a)

In [47]:
b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

#### The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known.

In [1]:
d={}

In [2]:
type(d)

dict

In [3]:
d={"name":"nitesh","course":"datascience","number":"123456789"} # where name is behave as a key and nitesh behave as a value

In [4]:
d

{'name': 'nitesh', 'course': 'datascience', 'number': '123456789'}

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

#### Answer- Yes we create a nested dictionary

In [17]:
d1={"student_details": {"name":"nitesh","course":"datascience","number":123456789}} # Dictionary can be used as a value not as a key

In [18]:
d1

{'student_details': {'name': 'nitesh',
  'course': 'datascience',
  'number': 123456789}}

In [25]:
d2={"empl1":{ "name":"nitesh","course":"datascience","number":123456789},"empl2": {"name":"rahul","course":"web","number":444444445678}}

In [26]:
d2

{'empl1': {'name': 'nitesh', 'course': 'datascience', 'number': 123456789},
 'empl2': {'name': 'rahul', 'course': 'web', 'number': 444444445678}}

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning'] dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [46]:
dictionary={"topics":["python","Machine Learning","Deep Learning",{"language":"python","course":"Data Science Master"}]}

In [47]:
dictionary

{'topics': ['python',
  'Machine Learning',
  'Deep Learning',
  {'language': 'python', 'course': 'Data Science Master'}]}

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary. dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

#### Answer

#### The main view objects of dictionary in python are keys, values and items. They provide a non-constant view of the dictionary’s entries.

#### Keys holds all the keys of the dictionary, the values objects holds all the values, whereas the items holds the key-value pairs.

In [2]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [3]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [4]:
dict1.keys() # keys holds all the key

dict_keys(['Sport', 'Teams'])

In [5]:
dict1.values() # values holds all the values

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [6]:
dict1.items() # items holds the key and value pair.

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])