# Assignment-1
## Name- NITESH KUMAR

# Q1. Explain Python Tokens & Data Types with  the help of Example.

## Answer:-

# Tokens

A token is the smallest individual unit in a python program. All statements and instructions in a program are built with tokens. The various tokens in python are :

#### 1. Keywords:

Keywords are words that have some special meaning or significance in a programming language. They can’t be used as variable names, function names, or any other random purpose. They are used for their special features. In Python keywords are:

In [2]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [ ]:
# Example

In [4]:
for i in range(1,16):
    print(i)
    
    if i<4:
        continue
    else:
        break
# in this example for loop,if, continue,else, break are the keywords.

1
2
3
4

#### 2. Identifiers

Identifiers are the names given to any variable, function, class, list, methods, etc. for their identification. Python is a case-sensitive language and it has some rules and regulations to name an identifier. Here are some rules to name an identifier:-

1. As stated above, Python is case-sensitive. So case matters in naming identifiers. And hence iot and Iot are two different identifiers.

2. Identifier starts with a capital letter (A-Z) , a small letter (a-z) or an underscore( _ ). It can’t start with any other character.

3. Except for letters and underscore, digits can also be a part of identifier but can’t be the first character of it.

4. Any other special characters or whitespaces are strictly prohibited in an identifier.

5. An identifier can’t be a keyword.

In [ ]:
# Example

In [5]:
# Here welcome and institute are the identifier
welcome = 'Hello student'
_institute = "IIT Guwahati "

# Driver code
print(welcome)
print(_institute)

Hello student
IIT Guwahati

#### 3. Literals

Literals are used to define the data as a variable or constants. Also, a literal is a value that is directly represented in code. 
Python has 6 literals tokens:

1. Numeric literal
2. string literal
3. Boolean literal
4. collection literal
   a. list
   b. tuple
5. set literal
6. Dictionary literal

In [16]:
# Example
a= 54 # integer number literal
b=4.7 # floating number literal
c="nitesh" # string literals
d= (a==54) # Boolean literal
e=[2,4,"nitesh kumar","Iot"] # list literal under collection
f=(3,6,"kumar",6,"data science") # tuple literals under collection
g={3,5,"nk@gmail.com",6} # set literals
h= {"name":"nitesh","empl_id":4242,"email":"niteshk834@gmail.com"} # dictionary literal
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

54
4.7
nitesh
True
[2, 4, 'nitesh kumar', 'Iot']
(3, 6, 'kumar', 6, 'data science')
{3, 5, 'nk@gmail.com', 6}
{'name': 'nitesh', 'empl_id': 4242, 'email': 'niteshk834@gmail.com'}

#### 4. operator

operator are the tokens responsible to perform an operation in an expression. The variables on which operation is applied are called operands. Operators can be unary or binary. Unary operators are the ones acting on a single operand like complement operator, etc. While binary operators need two operands to operate.

In [17]:
# Example
a=6+ 8 # Arithmetic operator
b= 6<8 # logical operator
print(a)
print(b)

14
True

#### 5. punctuators

These are the symbols that used in Python to organize the structures, statements, and expressions. Some of the Punctuators are:
{}
[]
()
@
+=
//=
=

In [18]:
# Example
a=5
a+=10
print(a)

15

# Data Types

A data type is a classification of the type of data that a variable or object can hold.Python does support several built-in data types, which include:

1. Numeric 
2. Boolean
3. string
4. list
5. tuple
6. set
7. Dictionary

#### 1. Numeric data type

This includes integer, floating-point, and complex numbers. Integers are whole numbers, floating-point numbers are decimal numbers, and complex numbers are numbers with a real and imaginary part.

In [25]:
# Example
a=7 # integer number
b=5.4 # floating number
c=5+7j # complex number
print(a)
print(b)
print(c)

7
5.4
(5+7j)

#### 2. Boolean data type

A Boolean data type can only have two possible values: True or False. Boolean values are often used in programming to make decisions based on conditions.

In [24]:
# Example
a=5
if a==5:
    print("The value is:",a)

The value is: 5

#### 3. string data type

Strings are used to represent text data in Python. They are sequences of characters and are enclosed in single or double quotes.

In [23]:
# Example
a="Iot Academy"
print(a)

Iot Academy

#### 4. list data type

Lists are ordered collections of items and are mutable, meaning their values can be changed.list are enclosed in square brakets.

In [22]:
# Example
lst=[2,5,"iot","nitesh"]
print(lst)

[2, 5, 'iot', 'nitesh']

#### 5. tuple data type

tuples are similar to lists but they are immutable, means that their value can not be changed. tuple are enclosed in paranthesis.

In [21]:
# Example
t=(2,4,6,87,"nitesh kumar","Data science")
print(t)

(2, 4, 6, 87, 'nitesh kumar', 'Data science')

#### 6. set data type

Sets are unordered collections of unique items. They are enclosed in curly braces and can be used to perform set operations such as union, intersection, and difference.

In [20]:
# Example
s={2,5,6,87,9,"nk@gmail.com","Data science Master"}
print(s)

{2, 5, 6, 'nk@gmail.com', 87, 9, 'Data science Master'}

#### 7. Dictionary data type

Dictionaries are collections of key-value pairs. They are enclosed in curly braces and each key-value pair is separated by a colon.

In [19]:
# Example
d={"name":"nitesh","course":"Data Science","Emp_Id":4242}
print(d)

{'name': 'nitesh', 'course': 'Data Science', 'Emp_Id': 4242}

# Q2. You’re a Data Scientist. You have assigned a  task to perform. Create two lists a & b, where a  has values -> (11,89,41,32,77,90) and b has  values -> (95,24,39,15,74,22). Compare the  corresponding element values of both the lists  and print “a element value is greater than b  element value” if corresponding value from a  is greater else print “a element value is less  than b element value” if corresponding value  from a is less than b.

## Answer:-

In [29]:
a=[11,89,41,32,77,90] # list 1
b=[95,24,39,15,74,22] # list 2
# iterate both the list using for loop
for i in range(len(a)): 
    if a[i]>b[i]: # comparing corresponding element of both list
        print(f"a element value i.e. {a[i]} is greater than b element value i.e. {b[i]}")
    else:
        print(f"a element value i.e. {a[i]} is less than b element value i.e. {b[i]}")

a element value i.e. 11 is less than b element value i.e. 95
a element value i.e. 89 is greater than b element value i.e. 24
a element value i.e. 41 is greater than b element value i.e. 39
a element value i.e. 32 is greater than b element value i.e. 15
a element value i.e. 77 is greater than b element value i.e. 74
a element value i.e. 90 is greater than b element value i.e. 22

# Q3. Write code to create a class named  Calculator. 
#### • Define methods for addition, subtraction, multiplication and division that take in two numbers and return another number after Performing their respective operations. 


#### • Define another method named execute  command that takes two numbers and a string  named command. The command string will be  ‘add’, ‘sub’, ‘mul’, ‘div’. Perform Addition,  Subtraction, Multiplication and Division on the  two numbers respectively. Make sure the  execute command method is case insensitive  (meaning that even if the user passes ‘aDd’ as  command it should perform addition on two  numbers).

### Answer:-

### 1. Define methods for addition, subtraction, multiplication and division that take in two numbers and return another number after Performing their respective operations.

In [34]:
# create class
class Calculator:
    # define method
    def addition(self,a,b):
        return a+b
    def subtraction (self,a,b):
        return a-b
    def multiplication (self,a,b):
        return a*b
    def division (self,a,b):
        return a/b
# When defining a method in a Python class, the first parameter is always self, which is a reference to the instance of the class.
# When we call the method on an instance of the class, the self parameter is automatically set to the instance that the method is 
# being called on. This allows us to access and modify the instance's state from within the method."""

In [35]:
# Create an instance of the Calculator class
my_cal=Calculator()

In [ ]:
# Now We will call each of the four methods on this instance

### Output

In [36]:
my_cal.addition(4,6)

10

In [37]:
my_cal.subtraction(4,6)

-2

In [38]:
my_cal.multiplication(4,6)

24

In [39]:
my_cal.division(4,6)

0.6666666666666666

### 2. Define another method named execute  command that takes two numbers and a string  named command. The command string will be  ‘add’, ‘sub’, ‘mul’, ‘div’. Perform Addition,  Subtraction, Multiplication and Division on the  two numbers respectively. Make sure the  execute command method is case insensitive  (meaning that even if the user passes ‘aDd’ as  command it should perform addition on two  numbers).

In [42]:
# create class
class Calculator:
    # define method
    def execute_command(self, a,b,command):
        if command=="add":
            return a+b
        if command=="sub":
            return a-b
        if command== "mul":
            return a*b
        if command== "div":
            return a/b

In [43]:
# Create an instance of the Calculator class
my_cal1=Calculator()

In [ ]:
# Now We will call each of the four methods on this instance

## output

In [44]:
my_cal1.execute_command(6,4,"add")

10

In [45]:
my_cal1.execute_command(6,4,"sub")

2

In [46]:
my_cal1.execute_command(6,4,"mul")

24

In [47]:
my_cal1.execute_command(6,4,"div")

1.5

# Q4. Create a program to take numbers and store  them in a list and Print a Square of numbers as  tuple.

## Answer:-

In [21]:
# firstly we created two empty list
lst=[]
lst1=[]
# Here we will use a for loop and want the user entered input 5 times
for i in range(5):
    take_input=int(input("Enter the numbers"))
    lst.append(take_input)
print("Entered numbered are now store in a list i.e.",lst) 
for num in lst:
    lst1.append(num**2)
print("square of a entered number",tuple(lst1))

Enter the numbers 2
Enter the numbers 3
Enter the numbers 4
Enter the numbers 5
Enter the numbers 6

Entered numbered are now store in a list i.e. [2, 3, 4, 5, 6]
square of a entered number (4, 9, 16, 25, 36)

# Q5. Write a Function to check if the year  number is a leap year or not. Print all Leap  Years of 21st Century.

## Answer:-

The rule of leap year is:

1. A year is a leap year if it is divisible by 4.

2. If the year is divisible by 100, it is not a leap year, unless it is also divisible by 400.

In [42]:
def check_leap_year(year):
    if year%4==0:
        if year%100==0:
            if year%400==0:
                print(f"year {year} is a leap year")
            else:
                print(f"year {year} is a not a leap year")
        else:
            print(f"year {year} is a leap year")
    else:
        print(f"year {year} is not a leap year")

In [43]:
check_leap_year(2005)

year 2005 is not a leap year

In [44]:
check_leap_year(2004)

year 2004 is a leap year

### Print all Leap Years of 21st Century.

In [ ]:
# In 21st century year includes 2001 to 2101. 
# Now we will used True False statement for checking year is leap or not.

In [60]:
def check_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
print("All the leap year in 21st century are:")
for year in range(2001, 2101):
    if check_leap_year(year)==True: # If check_leap_year(year) returns True it means that the year is a leap year       
        print(year,end= " ")

All the leap year in 21st century are:
2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096

# Q6. Write a Function to take an array and return another array that contains the members of  the first array that are even in one array and  odd in another array.

## Answer:-

In [94]:
# define function
def take_array(arr1, arr2):
    
    # Returns an array containing member of arr1 and that member are all even number in arr1 and odd number in arr1
    # should be present in arr2.
    
    final_array = []
    for member in arr1:
        if member % 2 == 0:
            final_array.append(member)
        if member % 2!=0 and member in arr2:
            final_array.append(member)
    return final_array

In [103]:
# let's assume
arr1 = [2, 11, 5, 8, 7]
arr2 = [2, 3, 5, 6, 8,3,9]

In [104]:
# call array function
take_array(arr1,arr2)

[2, 5, 8]

# Q7. Write a python code to print the following  pattern.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

## Answer:-

In [12]:
row = 1
while row <= 5:
    num = 1
    while num <= row:
        print(num, end=' ')
        num = num+1
    print() # This line of code prints a newline character after all the numbers in the current row have been printed. 
            # This ensures that the next row of the pattern is printed on a new line. 
    row = row+ 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5