# Function practice  Question

### Name- Nitesh Kumar

#### IoT Batch-4          
##### Submition Date- 07.05.2023

# Q1. Write a function that takes a number as an argument and returns its square.

### Answer:-

In [1]:
# define function
def take_number(x):
    return x**2

In [2]:
#call function
take_number(10)

100

# Q2. Write a function that takes a string as an argument and returns a new string with the first letter capitalized.

### Answer:-

In [9]:
# define function
def take_string(x):
    return x.title()

In [10]:
#call function
take_string("nitesh")

'Nitesh'

# Q3. Write a function that takes a list of integers as an argument and returns the sum of all the odd numbers in the list.

### Answer:-

In [30]:
l1=[]
# define function
def take_list(l):
    for i in l:
        if i%2!=0:
            l1.append(i) 
    return (f"ODD Number list is : {l1} and sum of all odd number in list is: {sum(l1)}")

In [31]:
l= [1,2,3,4]
#call function
take_list(l)

'ODD Number list is : [1, 3] and sum of all odd number in list is: 4'

# Q4. Write a function that takes a list of strings as an argument and returns a new list with all the strings in lowercase.

### Answer:-

In [48]:
l1=[]
# define function
def take_string_list(x):
    for i in x:
        l1.append(i.lower())
    return l1

In [49]:
#call function
take_string_list(["Nitesh","KuMaR","SRIVASTAVA"])

['nitesh', 'kumar', 'srivastava']

# Q5. Write a function that takes a list of numbers as an argument and returns a new list with all the prime numbers in the original list.

### Answer:-

In [54]:
l1=[]
# define function
def take_num_list(x):
    for i in x:
        if i>1:
            for j in range(2,i): # In range we taked i itself because no any number divisble by another big number 
                if i%j==0:
                    break
            else:
                l1.append(i)
    return l1

In [55]:
#call function
take_num_list([1,2,3,4,5,6,7,8,9,10,11])

[2, 3, 5, 7, 11]

# Q6. Write a function that takes a list of strings as an argument and returns a new list with all the strings reversed.

### Answer:-

In [67]:
l1=[]
# define function
def take_string_list(x):
    for i in x:
        l1.append(i[::-1])      
    return l1

In [68]:
#call function
take_string_list(["nitesh","Kumar"])

['hsetin', 'ramuK']

# Q7. Write a function that takes a string as an argument and returns a new string with all the spaces removed.

### Answer:-

In [70]:
# define function
def take_string(x):
    return x.replace(" ","")

In [71]:
#call function
take_string("Hel lo Nit esH Kumar, How A re Y ou ?")

'HelloNitesHKumar,HowAreYou?'

# Q8. Write a function that takes a list of numbers as an argument and returns a new list with all the numbers squared.

### Answer:-

In [80]:
l1=[]
# define function
def take_num_list(x):
    for i in x:
        l1.append(i**2)        
    return l1

In [81]:
#call function
take_num_list([1,2,3,4])

[1, 4, 9, 16]

# Q9. Write a function that takes a list of strings as an argument and returns a new list with only the palindrome strings.

### Answer:-

In [84]:
l1=[]
# define function
def take_string_list(x):
    for i in x:
        if i==i[::-1]:
            l1.append(i)
    return l1

In [85]:
#call function
take_string_list(["Nitesh","radar","level","now","pop"])

['radar', 'level', 'pop']

# Q10. Write a function that takes a list of integers as an argument and returns the sum of all the even numbers in the list.

### Answer:-

In [90]:
l1=[]
# define function
def take_int_list(x):
    for i in x:
        if i%2==0:
            l1.append(i)
    return (f"The list of even no. is: {l1} and sum of all even no. is : {sum(l1)}")
    #return ("The list of even no. is: {} and sum of all even no. is : {}".format(l1,sum(l1)))

In [91]:
#call function
take_int_list([1,2,3,4,5,6,7,8])

'The list of even no. is: [2, 4, 6, 8] and sum of all even no. is : 20'

# Q11. Write a function that takes a string as an argument and returns a new string with all the vowels capitalized.

### Answer:-

In [5]:
# define function
def take_string(x):
    vowel= "aeiou" # or ["a","e","i","o","u"] 
    output="" # initialize the empty string that will hold the final result
    for char in x:
        if char.lower() in vowel:
            output=output+char.upper() # accumulate the capitalized vowel.
        else:
            output=output+char # accumulate the non-vowel char
    return output

In [6]:
#call function
take_string("nitesh")

'nItEsh'

# Q12. Write a function that takes a list of strings as an argument and returns a new list with only the strings that have more than five characters.

### Answer:-

In [130]:
l1=[]
# define function
def take_string_list(x):
    for char in x:
        if len(char)>5:
            l1.append(char)
            
    return l1

In [131]:
#call function
take_string_list(["nitesh","srivastava","IITGuwahati","Batch"])

['nitesh', 'srivastava', 'IITGuwahati']

# Q13. Write a function that takes a list of numbers as an argument and returns the product of all the numbers in the list.

### Answer:-

In [13]:
# define function
def take_num_list(x):
    result=1
    for i in x:
        result=result*i
    return result

In [14]:
#call function
take_num_list([1,2,3,4])

24

# Q14. Write a function that takes a string as an argument and returns a new string with all the characters in reverse order.

### Answer:-

In [35]:
# define function
def take_strng(x):
    return x[::-1]

In [37]:
#call function
take_strng("nitesh")

'hsetin'

# Q15. Write a function that takes a list of integers as an argument and returns a new list with only the numbers that are divisible by 3.

### Answer:-

In [38]:
l1=[]
# define function
def take_int_list(x):
    for i in x:
        if i%3==0:
            l1.append(i)
    return l1

In [39]:
#call function
take_int_list([2,3,5,6,9,11,12,14,15])

[3, 6, 9, 12, 15]

# Q16. Write a function that takes a list of strings as an argument and returns a new list with only the strings that have the letter 'a' in them.

### Answer:-

In [40]:
l1=[]
# define function
def take_string_list(x):  
    for i in x:
        if "a" in i:
            l1.append(i)
    return l1

In [41]:
#call function
take_string_list(["nitesh","kumar","srivastava"])

['kumar', 'srivastava']

# Q17. Write a function that takes a list of numbers as an argument and returns the median of the numbers in the list.

### Answer:-

In [58]:
# define function
def take_num_list(x):
    after_sorting_num=sorted(x)
    if len(x)%2==0:
        return (after_sorting_num[len(x)//2-1]+after_sorting_num[len(x)//2])/2
    else:
        return after_sorting_num[len(x)//2]

In [59]:
#call function
take_num_list([1,2,3,4,5,6,7,8,9,10])

5.5

# Q18. Write a function that takes a string as an argument and returns a new string with all the characters in alphabetical order.

### Answer:-

In [71]:
# define function
def take_string(x):
    char=list(x)
    char.sort()
    output="".join(char)
    return output

In [72]:
#call function
take_string("nitesh")

'ehinst'

# Q19. Write a function that takes a list of integers as an argument and returns the sum of the squares of all the numbers in the list.

### Answer:-

In [75]:
l1=[]
# define function
def take_int_list(x):
    output=0
    for i in x:
        l1.append(i**2)
    for j in l1:
        output=output+j
    return output

In [76]:
#call function
take_int_list([1,2,3])

14

# Q20. Write a function that takes a list of strings as an argument and returns a new list with only the strings that have more than three vowels.

### Answer:-

In [7]:
l1=[]
vowel="aeiou"
# define function
def take_string_list(x):
    for i in x:
        count=0
        for char in i.lower():
            if char in vowel:
                count=count+1
        if count>3:
                l1.append(i)
    return l1

In [21]:
#call function
take_string_list(["nitesh","DAtAscIence","course","is","goingon","appleaeio"])

['DAtAscIence', 'appleaeio']

# Q21. Write a function that takes a list of integers as an argument and returns the product of all the even numbers in the list.

### Answer:-

In [26]:
# define function
def take_int_list(x):
    output=1
    for i in x:
        if i%2==0:
            output=output*i
    return output

In [27]:
#call function
take_int_list([1,2,3,4,5])

8

# Q22. Write a function that takes a string as an argument and returns a new string with all the non-alphabetic characters removed.

### Answer:-

In [43]:
# define function
def take_string(x):
    result=""
    for i in x:
        if i.isalpha():
            result=result+i
           
    return result

In [44]:
#call function
take_string("nit12es3h5")

'nitesh'

# Q23. Write a function that takes a list of strings as an argument and returns a new list with the strings sorted by length (shortest first).

### Answer:-

In [1]:
# define function
def take_string_list(x):
    return sorted(x,key=len)

In [2]:
#call function
take_string_list(["nitesh","srivastava","data","science"])

['data', 'nitesh', 'science', 'srivastava']

# Q24. Write a function that takes a list of integers as an argument and returns the maximum difference between any two numbers in the list.

### Answer:-

In [11]:
# define function
def take_int_list(x):
    l1=[]
    for i in range(len(x)-1):# loop only run upto second to last element
        difference=x[i+1]-x[i]
        l1.append(difference)
    return (f"list of difference is: {l1} and maximum difference between two number is: {max(l1)}")

In [14]:
#call function
take_int_list([2,5,8,15,12])

'list of difference is: [3, 3, 7, -3] and maximum difference between two number is: 7'

In [16]:
# define function
def int_list(x):
    if len(x)<2:
        return 0
    
    min_num=x[0]
    min_diff=0
    for i in x:
        if i<min_num:
            min_num=i
        else:
            max_diff=max(min_diff,i-min_num)
    return max_diff

In [17]:
#call function
int_list([2,5,9,6,3,8])

6

# Q25. Write a function that takes a string as an argument and returns a new string with every other character removed.

### Answer:-

In [18]:
# define function
def take_string(x):
    return x[::2]

In [19]:
#call function
take_string("nitesh")

'nts'

# Q26. Write a function that takes a list of strings as an argument and returns a new list with only the strings that start and end with the same character.

### Answer:-

In [41]:
# define function
def take_string_list(x):
    l1=[]
    for i in x:
        if i[0]==i[-1]:
            l1.append(i)          
    return l1

In [42]:
#call function
take_string_list(["you","know","aditya","tent","shops"])

['aditya', 'tent', 'shops']

# Q27. Write a function that takes a list of integers as an argument and returns the product of all the odd numbers in the list.

### Answer:-

In [43]:
# define function
def take_int_list(x):
    output=1
    for i in x:
        if i%2!=0:
            output=output*i
    return output

In [45]:
#call function
take_int_list([1,2,3,4,5,6,7,8])

105

# Q28. Write a function that takes a string as an argument and returns a new string with all the consonants doubled.

### Answer:-

In [46]:
# define function
def take_string(x):
    vowel="aeiou"
    result=""
    for i in x:
        if i.lower() not in vowel:
            result=result+i*2
    return result

In [47]:
#call function
take_string("nitesh")

'nnttsshh'

# Q29 Create a generator function for prime numbers less than 1000.

### Answer:-

In [48]:
# define function
def prime_number(n):
    for num in range(2,n):
        for j in range(2,num):
            if num%j==0:
                break 
        else:
            print(num,end=" ")

In [49]:
#call function
prime_number(1000)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

## Q30. Create a function which will take a list as an argument and return all the numbers in a flat list.

### Use the below-given list as an argument for your function.


#### list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,22, 61, 34)}, [56, 'data science'], 'Machine Learning']


##### Note: you must extract numeric keys and values of the dictionary also.

### Answer:-

In [57]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [52]:
list1

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']

In [58]:
# define function
def flat(list1):
    flat_list=[]
    for i in list1:
        if type(i)==list or type(i)==tuple or type(i)==set:
            for j in i:
                if type(j)==int:
                    flat_list.append(j)
        elif type(i)==dict:
            for k in i.keys():
                if type(k)==int:
                    flat_list.append(k)
            for l in i.values():
                if type(l)==list or type(l)==tuple:
                    for m in l:
                        if type(m)==int:
                            flat_list.append(m)                   
                elif type(l)==int:
                    flat_list.append(l)
                
        elif type(i)==int:
            flat_list.append(i)           
    return flat_list

In [54]:
##call function and stored in object
flat_list= flat(list1)

In [55]:
#call object
print(flat_list,end=" ")

[1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 4, 34, 55, 67, 78, 89, 45, 22, 61, 34, 56]